@using EM.Domain;
@{
    ViewData["Title"] = "Editar aluno";
}
@model EM.Domain.ProjetoEM.EM.Domain.Aluno


<h4>Editar aluno</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" class="form-control">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="col-3 ">
                        <label asp-for="Matricula" class="control-label"></label>
                        <input placeholder="Apenas numeros" type="text" style="text-align:right;" asp-for="Matricula" autocomplete="off" class="form-control" minlength="1" maxlength="9" onkeypress="return onlynumber();" required readonly/>
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="col-9">
                        @Html.LabelFor(a => a.Nome, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.Nome, new {@class = "form-control", @required="tue", @placeholder="Digite o nome do aluno"})
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-control">
                            <label for="Sexo"> Sexo</label>
                            @*<label asp-for="Sexo" class="control-label"></label>*@
                        @Html.DropDownListFor(Model => Model.Sexo, new SelectList(Enum.GetValues(typeof(Sexo))))
                        </div>
                    </div>
                    <div class="col">
                        @Html.LabelFor(a => a.Nascimento, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.Nascimento, new {@class = "form-control" ,@id="nasc", @type="string", @required="tue", @onblur="return validadata()"})
                        <span asp-validation-for="Nascimento" class="text-danger"></span>
                    </div>
                    <div class="col">
                        @Html.LabelFor(a => a.CPF, new {@class = "control-label" })
                        @Html.TextBoxFor(a => a.CPF, new {@class = "form-control" ,@id="cpf", @onblur="return verificarCPF(this.value)"})
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-light">Voltar</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<h1>@ViewBag.Mensagem</h1>