@{
    ViewData["Title"] = "Projeto EM";
}
@model IEnumerable<EM.Domain.ProjetoEM.EM.Domain.Aluno>

<div class="text-center">
    <h1 class="display-4">Projeto EM</h1>
</div>
<br />
<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Cadastrar">Novo Aluno</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-7">
        <input type="text" class="form-control" maxlength="100" />
    </div>
    <div class="btn-group btn-group-toggle col-2" data-toggle="buttons">
        <label class="btn btn-success active">
            <input type="radio" name="options" id="nome" autocomplete="on" checked> Nome
        </label>
        <label class="btn btn-success ">
            <input type="radio" name="options" id="matricula" autocomplete="off" > Matricula
        </label>
    </div>
    <div class="col-3 text-center">
        <span class="text-danger"></span>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Pesquisar">Pesquisar</a>
    </div>
</div>


<br />
<div class="row">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Nascimento</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Matricula</th>
                        <td>@item.Nome</td>
                        <td>@item.Sexo</td>
                        <td>@item.CPF</td>
                        <td>@item.Nascimento</td>
                        <td>
                            <a asp-area="" asp-controller="Home" asp-action="Deletar" asp-route-id="@item.Matricula" onclick="return confirm('Tem ceteza que deseja excluir @item.ToString()?');" class="btn btn-danger btn-sm text-white">Excluir</a>
                            <a asp-area="" asp-controller="Home" asp-action="Editar" asp-route-id="@item.Matricula" class="btn btn-success btn-sm text-white">Editar</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>
</div>

