@using EM.Domain;
@{
    ViewData["Title"] = "Projeto EM";
}
@model IEnumerable<EM.Domain.ProjetoEM.EM.Domain.Aluno>

<div class="text-center">
    <h1 class="display-4 ">Projeto EM</h1>
</div>
<br />
<div class="row">
    <div class=" col-lg-12" style="text-align: right;">
        <a tabindex="3" class="btn btn-primary  " asp-area="" asp-controller="Home" asp-action="Cadastrar"><i class="fa fa-user-plus"></i> Novo Aluno</a>
    </div>
</div>
<br />
<form asp-controller="Home" asp-action="Index" method="get" class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <label class="font-weight-bold my-1 mr-2" for="inlineFormCustomSelectPref">Pesquisar por:</label>
        </div>
        <div class="col-auto">
            <div class="btn-group d-flex" role="group">
                <input type="radio" class="btn-check" name="pesquisePor" id="nome" value="nome" autocomplete="off" checked="">
                <label class="btn btn-outline-success" for="nome">Nome</label>

                <input type="radio" class="btn-check" name="pesquisePor" id="matricula" value="matricula" autocomplete="off">
                <label class="btn btn-outline-success" for="matricula">Matricula</label>
            </div>
        </div>
        <div class="col">
            <input name="SearchString" class="form-control" type="text" placeholder="" autocomplete="off" id="pesquisa">
            @*implementar buscar por digitar*@
        </div>
        <div class="col-auto">
            <button class="btn btn-success" id="pesq" type="submit" value="Filter"><i class="fa fa-search " title="Pesquisar"></i></button>
        </div>
    </div>
</form>

<br />
<div class="row ">
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped table-hover ">
            <thead class="">
                <tr>
                    <th scope="col" class="text-center col-1">Matricula</th>
                    <th scope="col" class="text-left col-4">Nome</th>
                    <th scope="col" class=" text-center col-2">Sexo</th>
                    <th scope="col" class=" text-center col-2">CPF</th>
                    <th scope="col" class=" text-center col-2">Nascimento</th>
                    <th scope="col" class=" text-center col-1"></th>
                </tr>
            </thead>
            <tbody class="">
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <th scope="row" class=" text-center">@item.Matricula</th>
                        <td scope="row" class="text-left">@item.Nome</td>
                        <td scope="row" class=" text-center">@item.Sexo</td>
                        <td scope="row" id="cpf" class=" text-center">@item.CPF</td>
                        <td scope="row" class=" text-center">
                            @Html.TextBoxFor(model => item.Nascimento, "{0:dd/MM/yyyy}", new { @class = " text-center  bg-transparent border-0  border-light col-6", @id = "inputNascimento", @readOnly = "true" })
                        </td>
                        <td scope="row" class=" text-center col-1">
                            <a asp-area="" asp-controller="Home" asp-action="Deletar" asp-route-id="@item.Matricula" class="btn btn-danger btn-sm text-white delete-button" title="Deletar">
                                <i class="fa fa-trash"></i>
                            </a>


                            <a asp-area="" asp-controller="Home" asp-action="Editar" asp-route-id="@item.Matricula" class="btn btn-info btn-sm text-white"><i class="fa fa-edit" title="Editar"></i></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    @if (@ViewBag.Mensagem == "Deletado")
    {
        <script>
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: 'Alterado com sucesso!',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
    else if (@ViewBag.Mensagem == "erro")
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Algo deu errado...',
                text: 'Contate o adminsitrador do sistema!',
            })</script>
    }
    <script defer>
        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', async (event) => {
                event.preventDefault();

                const itemDescription = button.getAttribute('data-item-description');
                const confirmadoDelete = await podeDeletar(itemDescription);

                if (confirmadoDelete) {
                    window.location.href = button.href;
                }
            });
        });

        async function podeDeletar(itemDescription) {
            const result = await Swal.fire({
                title: 'Tem certeza que deseja excluir?',
                text: itemDescription,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim',
                cancelButtonText: 'Cancelar'
            });

            return result.isConfirmed;
        }
    </script>
</div>
