@{
    ViewData["Title"] = "Projeto EM";
}
@model IEnumerable<EM.Domain.ProjetoEM.EM.Domain.Aluno>

<div class="text-center">
    <h1 class="display-4">Projeto EM</h1>
</div>
<br />
<div class="row">
    <div class="col-sm-2">
        <a tabindex="3" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Cadastrar">Novo Aluno</a>
    </div>
</div>
<br />

<form asp-controller="Home" asp-action="Index" method="get" class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Pesquisar por:</label>
        </div>
        <div class="col-auto">
            <select class="custom-select my-1 mr-sm-1 form-control" name="pesquisePor" id="selecionadoParaPesquisa" >
                <option value="matricula" name="matricula">Matricula</option>
                <option value="nome" name="nome" id="nome">Nome</option>
            </select>
        </div>
        <div class="col">
            <input name="SearchString" class="form-control form-control-lg form-control-borderless" type="text" placeholder="" autocomplete="off" id="pesquisa" >
            @*implementar buscar por digitar*@
        </div>
        <div class="col-auto">
            <button class="btn btn-lg btn-success" id="pesq" type="submit" value="Filter">Buscar Aluno</button>
        </div>
        <div class="col-auto">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-lg btn-outline-warning">Resetar</a>
        </div>
    </div>
</form>

<br />
<div class="row">
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Nascimento</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <th style="max-width: 9px;" scope="row">@item.Matricula</th>
                        <td style="max-width: 100px; text-overflow: ellipsis;">@item.Nome</td>
                        <td style ="max-width: 9px;">@item.Sexo</td>
                        <td style="max-width: 14px;">@item.CPF</td>
                        <td  style="max-width: 10px;">@item.Nascimento</td>
                        <td  >
                            <a asp-area="" asp-controller="Home" asp-action="Deletar" asp-route-id="@item.Matricula" onblur="return confirm('Tem ceteza que deseja excluir @item.ToString()?');" class="btn btn-danger btn-sm text-white">Excluir</a>
                            <a asp-area="" asp-controller="Home" asp-action="Editar" asp-route-id="@item.Matricula" class="btn btn-info btn-sm text-white">Editar</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>

